
@font-face{
  font-family: "Gothan";
  src: url(../fonts/Gotham.ttf);
}


#topo{
  position: fixed;
  font-family: "Gothan";
  width: 100%;
  background:#1C1C1C;
  color: #FFFFFF;
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid black;
}
#topo span{
  opacity: 0.8;
}

#meio{
  font-size: 16px;
  padding-top: 40px;
  background:#000000;
}
#titulo{
  color: #FFFFFF !important;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding-left: 16px;
}
#meio img{
  width: 24px;
  padding: 12px 0px 10px 14px;
  vertical-align: middle;
}

#efeito img {
  opacity: 0.5; 
}
#efeito span{
  opacity: 0.7; 
}

#tocadas{
  color: #FFFFFF;
  font-family: "Gothan";
  font-size: 14px;
  padding: 14px;
  text-align: center;
  
}

#meio2{
  padding: 12px 0px 0px 14px;
  vertical-align: middle;
  font-size:10pt;
  padding-top: 30px;
  background:#000000;
  margin-bottom: 104px;
  
}

.column1 img {
  width: 50px;
 
  
}
.column1 #circulo {
  width: 50px;
  border-radius: 50% !important;
}

.column2 #descricaoPlay{
  display: block;
  color: rgb(3, 139, 33);
  font-size: 16px;
  line-height: 22px;
  padding-left: 12px;
}
.column2 #descricaoPlay2{
  display: block;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 22px;
  padding-left: 12px;
}
.column2 #download{
  vertical-align: middle;
  padding-left: 12px;
  width: 14px;
}
.column2 #descricao{
  vertical-align: middle;
  color: #aaa;
  padding-left: 6px;
  
}
.column2 #descricao1{
  vertical-align: middle;
  color: #aaa;
  font-size: 10px;
  padding-left: 12px;
  
}
.column3  img{
  vertical-align: middle;
  width: 14px;
  height: 16px;
  padding-right: 20px;
  float: right;
  opacity: 0.5;
}

.column1 {
  float: left;
  
}
.column2 {
  float: left;
  
}
.row:after {
  content: "";
  display: table;
  clear: both;
  padding-bottom: 12px;
}


  
#reproduzir{
  background:#FFFFFF;
  text-align: center;
  background:#1C1C1C; 
  font-weight:bold;
  width:100%;
  position:fixed;
  bottom:0px;
  left:0px; 
  padding-top: 0px;
  border-top: 2px solid #FFFFFF;
}

.marquee {
  width: 220px;
  height: 28px;
  overflow: hidden;
  white-space: nowrap;

}
.marquee span {
  display: inline-block;
  padding-left: 100%;
  color: #FFFFFF;
  font-size: 14px;
  animation: marquee 15s linear infinite;
}
@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

.colun1 img{
  width: 16px;
  padding: 10px;
  padding-right: 16px;
  padding-left: 16px;
  vertical-align: middle;
  opacity: 0.9;

}
.colun2 .marquee{
  float: center;
  padding-top: 10px;
  vertical-align: middle;
}
.colun3 img {
  opacity: 0.9;
  width: 20px;
  padding: 10px;
  padding-right: 16px;
  vertical-align: middle;
}

.colun1 {
  float: left;
  
}

.colun2 {
  float: left;

}

.colun3 {
  float: right; 
}

.linha:after {
  content: "";
  display: table;
  clear: both;
  padding-top: 8px;
}

.coluna1 {
  float: left;
  padding-top: 6px;
  padding-bottom: 8px; 
  
}
.coluna1 img{
  vertical-align: middle;
  width: 20px;
  margin-left: 50px;
  opacity: 0.5;
}
#inicio span{
  vertical-align: middle;
  float: center;
  font-size: 10px;
  opacity: 0.5;
  color: #FFFFFF;
  margin-left: 50px;
}


.coluna2 {
  float: left;
  padding-top: 6px;
  padding-bottom: 8px; 
  
}
.coluna2 img{
  vertical-align: middle;
  width: 20px;
  opacity: 0.5;
  margin-left: 58px;
}
#buscar span{
  vertical-align: middle;
  float: center;
  opacity: 0.5;
  font-size: 10px;
  color: #FFFFFF;
  margin-left: 58px;
}


.coluna3 {
  float: left; 
  padding-top: 6px;
  padding-bottom: 8px;
}
.coluna3 img{
  vertical-align: middle;
  width: 20px;
  opacity: 0.9;
  margin-left: 46px;
}
#biblioteca span{
  vertical-align: middle;
  float: center;
  font-size: 10px;
  opacity: 0.9;
  color: #FFFFFF;
  margin-left: 46px;
}

#linha2{
  border-bottom: 1px solid black;
}

.linha2:after {
  content: "";
  display: table;
  clear: both;
  padding-top: 8px;
}




